main{
    margin: 20%;
}
form{
    border: 2px solid black;
    padding: 0 -80% 0 -80%;
}
.colour{
    background-color:#637a91;
    margin-top: -0.1%;
    padding: 2%;
    color:white;
    font-size: 18px;
}
p{
    line-height: 30px;
    text-align: center;
}
button{
    background-color: #5fcf80;
}